[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = git://github.com/puppetlabs/puppetlabs-nginx.git
[submodule "puppet/modules/sqlite3"]
	path = puppet/modules/sqlite3
	url = git://github.com/puppetlabs/puppetlabs-sqlite3.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = git://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/java7"]
	path = puppet/modules/java7
	url = https://github.com/softek/puppet-java7.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/puppetlabs/puppetlabs-nodejs.git
